<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :tax %>
    <%= form.text_field :tax %>
  </div>

  <div class="control-group">
    <%= form.label :salesperson, class: 'control-group' %>
    <div class="controls">
      <%= collection_select( :invoice, :employee_id, Employee.all, :id, :name, {}, {:multiple => false}) %>
    </div>
  </div>

  <!-- <div class="control-group"> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
