<div class="row"
  <%= form_with(model: company, local: true) do |form| %>
    <% if company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= form.label :name, class: 'control-group' %>
      <div class="control">
        <%= form.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :manager, class: 'control-group' %>
      <div class="control">
        <%= form.text_field :manager %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :status, class: 'control-group' %>
      <div class="control">
        <%= form.text_field :status %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :terms , class: 'control-group'%>
      <div class="control">
      <%= form.number_field :terms %>
      </div>
    </div>
    <div class="control">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>
