<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<div class="media">
    <div class = "media-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Manager</th>
            <th>Status</th>
            <th>Terms</th>
            <th colspan="3"></th>
          </tr>
        </thead>


      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.manager %></td>
            <td><%= company.status %></td>
            <td><%= company.terms %></td>
            <td><%= link_to 'Show', company %></td>
            <td><%= link_to 'Edit', edit_company_path(company) %></td>
            <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>

<br>

<h3> Import Comanies </h3>
<%= form_tag  import_companies_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Companies" %>
<% end %>

<h3> Download File </h3>
<%= link_to "Report", companies_path(format: "csv"), class: "btn btn-default" %>

<%= link_to 'New Company', new_company_path %>
